<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagamento Confirmado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<form method="GET" action="/listar/eventos" class="form">
    <h1>Pagamento Confirmado</h1>
    <p>Em instantes você receberá o comprovante da compra em seu email que deverá ser apresentado no dia do evento.</p>
    <button type="submit" class="btn btn-primary">Voltar</button>
</form>
</body>
</html>